*{
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  line-height: 1.2em;
}

body{
  background-color: whitesmoke;
}

body > main> header{
  text-align: center;

  font-size: 30px;
}

body > main > header nav ul{
  list-style: none;
  display: flex;
  justify-content: start;
  margin-top: 20px;
  gap:20px;
  padding:0;
  font-size: 18px;
}

a{
  text-decoration: none;
  color: blue;
}

body h2{
  font-size: 20px;
}

body main article h2{
  font-size: 38px;
  font-weight: 600;
}


body header{
  margin: auto;
}

main{
  background-color: white;
  margin: auto;
  max-width: 1200px;
  padding: 3em;
  border: 1px solid rgba(0,0,0,0.1)
}

body section h3{
  color: rgba(0,0,0,0.9);
  font-size: 28px;
}

body section {
  color: rgba(0,0,0,0.7);
  padding: 30px 0;
  font-size:22px;
}


body figure{
  margin: 10px auto;
  width: 80%;
}

body main img{
  margin-top: 10px;
  width: 100%;
  border-radius: 2px;
}

body main section figure figcaption{
  text-align: right;
  font-size: 16px;
}


body main dialog{
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0314711b;
}
body main dialog section{
  position: fixed;
  top: 50vh;
  left: 50vw;
  translate: -50% -50%;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.15);
  background-color: white;
}

article section:nth-child(6) section{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
}
article section:nth-child(6) section aside{
  text-align: right;
  padding-right: 100px;
}

/* article section:last-child{
  display: flex;
  justify-content: space-between;
} */

details summary:hover{
  cursor: pointer;
}

body main dialog form{
  text-align: center;
}

body main dialog button{
  background:blue;
  color: white;
  margin: 10px 0;
  padding: 4px 15px;
  border-radius: 6px;
  font-size: 18px;
}

body > footer{
  border-top: 1px solid gray;
  background: whitesmoke;
  text-align: center;
  padding: 5px;
}

